.main {
  margin: 3rem auto;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #000;
  background: rgba(86, 83, 83, 0.361);
}
.title{
  font-size: 3rem;
  color: rgb(182, 182, 15);
}
.paragraph{
  font-size: 1.3rem;
  color: whitesmoke;
}
